.header-contact {
    position: relative; 
    background-image: url('/img/DSC_0377.JPG'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
}
.overlay-contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.header-ml {
    position: relative; 
    background-image: url('/img/DSC_0411.JPG'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin-bottom: 20px;
}
.overlay-ml {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.ml-content{
    margin-bottom: 100px;
}

.header-ml-content {
    position: absolute;
    left: 0;
    top: 50%;
    align-items: center;
    text-align: center;
    color: white; 
    opacity: 0; 
    transform: translateY(20px); 
    animation: slideInFromLeft 1s ease-out forwards; 
}
.contact-page {
    padding: 60px 20px;
    background-color: #f9f9f9; 
}

.contact-page h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.contact-page p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}
@media (max-width: 766px){
    .contact-page p{
        font-size: 16px;
        padding: 0 15px 15px 10px;
    }
}

.contact-page .form-label {
    font-weight: bold;
    color: #333;
}

.contact-page .form-control {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
}

.contact-page .btn-primary {
    background-color: #FFC107;
    border: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-page .btn-primary:hover {
    background-color: #e0a800;
    color: white;
}

.contact-number {
    color: black; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-number:hover {
    color: #e0a800; 
    text-decoration: underline; 
}

.social-links {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}
.social-link i{
    font-size: 2rem;
    color: black;
}
@media (max-width: 766px){
    .social-link{
        margin-bottom: 25px;
    }
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.2); 
}

.social-link {
    position: relative;
    text-decoration: none;
}

.social-link::after {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFC107;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-link:hover::after {
    opacity: 1; 
    visibility: visible;
    transform: translateX(-50%) translateY(-10px); 
}
