img.ea-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {

    h2{

    }
    .services {
        margin-bottom: 150px; /* Ajuste l'espacement pour mobile */

    }
    .service-title{
        font-size: 3rem;
    }
    .map{
        text-align: center;
        margin: 80px auto 150px;
    }

    .service-card {
        width: 100%; /* Chaque carte occupe toute la largeur */
        margin-bottom: 20px; /* Ajoute un espacement entre les cartes */
    }
    .header-accueil-title{
        padding: 1px;
        font-size: 25px;
        margin-bottom: 1px;
        margin-top: 100px;
    }
    .btn-warning{
        width: 80%;
        margin: 0px auto 20px;
        position: static;
    }

    .about-title {
            font-size: 16px !important; /* Réduit la taille du texte */
            line-height: 1.4; /* Réduit l'espacement entre les lignes */
            padding: 10px; /* Moins de padding */
            width: 100%; /* Prend presque toute la largeur de l'écran */
    }


    .text-about {
        padding: 20px !important; /* Réduction du padding global */
    }




}


@media (max-width: 768px) {
    .container {
        width: 100%; /* S'assure que le conteneur occupe toute la largeur */
        padding: 0 15px; /* Réduit les marges latérales */
    }

    .row {
        flex-direction: column; /* Empile les colonnes */
        align-items: center; /* Centre les éléments */
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 100%; /* Prend toute la largeur de la colonne */
        margin-bottom: 20px; /* Espacement vertical entre les cartes */
    }
}
@media (max-width: 768px) {
    .navbar-custom {

        height: 250px;
    }

    .collapse .social-links{
        justify-content: center;
        margin: 25px 0;
        padding: 15px;

    }

    .collapse .nav-item{
        text-align: center;

    }

    .nav-link{
        margin: 10px auto;
    }

    .navbar-nav{
        gap: 10px;
    }

    .navbar-brand img {
        display: flex;
        justify-content: center;
    }



    .hero-title {
        margin-top: 200px;
        font-size: 1.4rem;

    }

    .btn-contact {
        margin-top: 50px;
        font-size: 1rem;

    }
}
@media (min-width: 768px) {
    .about-section .container {
        flex-direction: row; /* Passe en mode côte à côte */
        align-items: flex-start; /* Aligne en haut */
        text-align: left; /* Texte aligné à gauche */
    }

    .about-text{
        width: 50%; /* Chaque colonne prend 50% de la largeur */
    }

    .about-image {
        width: 50%;
        margin-left: 50px; /* Supprime l'espacement vertical */
        text-align: right; /* Centre l'image à droite */
    }

    .about-button {
        width: auto; /* Le bouton n'a pas de limite spécifique sur Desktop */
        text-align: left; /* Bouton aligné à gauche */
        margin-top: 0; /* Supprime tout espacement supplémentaire */
    }
}

@media(max-width: 766px) {

    /* Menu déroulant */
    .navbar-collapse {
        position: fixed; /* Fixe le menu pour qu'il se déplace indépendamment */
        top: 30%;
        border-top-left-radius : 20px;
        border-bottom-left-radius: 20px;
        right: -100%; /* Commence en dehors de l'écran à droite */
        height: auto; /* Prend toute la hauteur */
        width: 40%; /* Largeur du menu (modifiable) */
        background-color: white; /* Fond blanc */
        opacity: 0.9;
        transition: all 0.3s ease; /* Transition fluide */
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
        z-index: 1050; /* Assure que le menu est au-dessus du contenu */
    }

    /* Lorsque le menu est ouvert */
    .navbar-collapse.show {
        right: 0; /* Ramène le menu visible */
    }
}

