img.ea-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {

    h2{

    }
    .services {
        margin-bottom: 150px; 
    }
    .service-title{
        font-size: 3rem;
    }
    .map{
        text-align: center;
        margin: 80px auto 150px;
    }

    .service-card {
        width: 100%; 
        margin-bottom: 20px; 
    }
    .header-accueil-title{
        padding: 1px;
        font-size: 25px;
        margin-bottom: 1px;
        margin-top: 100px;
    }
    .btn-warning{
        width: 80%;
        margin: 0px auto 20px;
        position: static;
    }

    .about-title {
            font-size: 16px !important; 
            line-height: 1.4; 
            padding: 10px; 
            width: 100%; 
    }


    .text-about {
        padding: 20px !important; 
    }




}


@media (max-width: 768px) {
    .container {
        width: 100%; 
        padding: 0 15px; 
    }

    .row {
        flex-direction: column; 
        align-items: center; 
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 100%; 
        margin-bottom: 20px; 
    }
}
@media (max-width: 768px) {
    .navbar-custom {

        height: 250px;
    }

    .collapse .social-links{
        justify-content: center;
        margin: 25px 0;
        padding: 15px;

    }

    .collapse .nav-item{
        text-align: center;

    }

    .nav-link{
        margin: 10px auto;
    }

    .navbar-nav{
        gap: 10px;
    }

    .navbar-brand img {
        display: flex;
        justify-content: center;
    }



    .hero-title {
        margin-top: 200px;
        font-size: 1.4rem;

    }

    .btn-contact {
        margin-top: 50px;
        font-size: 1rem;

    }
}
@media (min-width: 768px) {
    .about-section .container {
        flex-direction: row; 
        align-items: flex-start; 
        text-align: left; 
    }

    .about-text{
        width: 50%; 
    }

    .about-image {
        width: 50%;
        margin-left: 50px; 
        text-align: right; 
    }

    .about-button {
        width: auto; 
        text-align: left; 
        margin-top: 0; 
    }
}

@media(max-width: 766px) {

    
    .navbar-collapse {
        position: fixed; 
        top: 30%;
        border-top-left-radius : 20px;
        border-bottom-left-radius: 20px;
        right: -100%; 
        height: auto; 
        width: 40%;
        background-color: white;
        opacity: 0.9;
        transition: all 0.3s ease; 
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); 
        z-index: 1050; 
    }

    
    .navbar-collapse.show {
        right: 0; 
    }
}

