.header-services {
    position: relative; 
    background-image: url('/img/DSC_0870.JPG'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
}
.overlay-services {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}


.header-services-content {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: left;
    color: white; 
    opacity: 0; 
    transform: translateY(20px); 
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    to {
        transform: translateX(0); 
        opacity: 1; 
    }
}

.header-services-title {
    background-color: rgba(255, 193, 7, 0.9); 
    padding: 15px 20px 15px 500px;
    font-size: 64px;
    font-weight: bold;
    border-radius: 20px;
    display: inline-block;
    font-family: "Outfit", serif;
}

@media (max-width: 768px){
    .header-services-title{
        font-size: 24px;
        padding: 18px 38px 18px 129px ;
    }
    .header-services-content{
        top: 60%;
    }
}

/*------------ABOUT SERVICES*/

.text-about{
    padding:154px 150px ;
}
    .about-title {
        font-size: 24px; 
        line-height: 1.6; 
        max-width: 700px; 
        margin: 0 auto; 
        padding: 20px; 
    }


.yello-title{
    color: rgba(255, 193, 7, 0.9);
    font-weight: bold;
  }

/*-------------FORMULES*/


.formules {
    padding: 50px 20px;

}


.formules-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333;
    text-align: center;
}


.basique-content {
    display: flex;
    flex-wrap: wrap; /* Permet l'adaptation sur mobile */
    justify-content: space-between; /* Ajoute de l'espace entre les éléments */
    align-items: center; /* Aligne verticalement les images et le texte */
    gap: 20px; /* Ajuste l'espacement entre les colonnes */
}

/* Images */
.formule-images {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.basique-img {
    width: 50%; /* Taille des images */

    border-radius: 10px;
    object-fit: cover; /* Ajuste l'image sans déformation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
}

/* Description */
.formules-description {
    max-width: 100%;

}
@media (max-width: 766px){
    .formules-description{
        text-align: center;
    }
}
.basique-description h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.basique-description p {
    position: relative;
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.detail-basique,
.detail-premium{

    position: absolute;
    left: 80%;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.7s ease-in-out;
}
@media (max-width: 766px){
    .detail-basique,
    .detail-premium{
    position: static;
    margin: 10px auto;
    width: 80%;
    }


}

.btn-details:hover {
    background-color: black;
    color: white;
    transform: scale(1.05); 
}

/*-----------------CARD BASIQUE*/


.hidden-card {
    display: none;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.hidden-card .card {
    border: none;
    background: #f9f9f9;

}

.hidden-card.open {
    display: block;
    animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Bouton Fermer */
.btn-close-card {
    padding: 8px 16px;
    font-size: 1rem;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.btn-close-card:hover {
    background-color: #c82333;
}

.formule-premium,
.formule-basique{
    margin-bottom: 100px;
}

#card-premium,
#card-basique{
    width: 100%;
}

.premium-card h5{
    font-size: 22px;
    margin-bottom: 5px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    line-height: 1.8;
    color: #333;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-title .gros-titre-p {
    color: #dc3545;
}

.gros-titre-b{
    color: #3b82f6;
}


.list-premium {

    padding-left: 0;
}

.list-premium li {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6;
}


.additional-info {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.6;
}
.additional-info .price{
    font-size: 60px;
}


.btn-close-card {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.btn-close-card:hover {
    background-color: #c82333;
}

/*--------------SUPPLEMENT*/



.supplements {

    padding: 50px 20px; 
}


.supplements-title h2 {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #808080, #b0b0b0);
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.supplements-content {
    background-color: #a0a0a0; 
    border-radius: 20px; 
    padding: 20px 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.supplements-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.supplements-list li {
    display: flex; 
    justify-content: space-between; 
    font-size: 1rem;
    line-height: 2.5; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
    padding-bottom: 10px; 
    color: white;
}
@media (max-width: 766px){
    .supplements-list li{
        flex-direction: column;
        text-align: center;
    }
}


.supplements-list li:last-child {
    border-bottom: none;
}


.supplements-list .price {
    font-weight: bold;
    color: white;
}

/*----------L&P--*/


.highlight-section {
    padding: 50px 20px;
    position: relative;
    background-image: url('/img/DSC_1097.JPG');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: white;
    overflow: hidden;
}
.highlight-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}


.highlight-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
}


.highlight-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.highlight-description {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
}


.highlight-result {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.highlight-secondary-text {
    font-size: 1rem;
    margin-bottom: 30px;
}


.highlight-button {
    background-color: #ffc107;
    color: black;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.highlight-button:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

/*--------------------------------------------------RENOVATION OPTIQUE--*/


.renovation-optique {
    background-color: #f8f9fa;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.renovation-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.renovation-subtitle {
    font-size: 1.2rem;
    color: #555;
}

.renov-price {
    color: #ff5722; 
    font-weight: bold;
    font-size: 2.2rem;
}


.renovation-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}


.renovation-benefits li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.renovation-benefits i {
    margin-right: 10px;
}


.renovation-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.renovation-price{
    font-size: 2.2rem;
    padding: 20px;
}



.btn-primary.highlight-button {
    background-color: #FFC107 !important;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary.highlight-button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}



.scroll-animation {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.6s ease, transform 0.6s ease;
}


.scroll-animation.fade-in {
    transform: translateY(20px);
}
.scroll-animation.slide-right {
    transform: translateX(-20px); 
}
.scroll-animation.slide-left {
    transform: translateX(20px);
}


.scroll-animation.scroll-visible {
    opacity: 1;
    transform: translateY(0); 
}
