<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="services-footer col-md-4 footer-column">
                <a class="text-footer" href="{{ path('app_services') }}">Services</a>
            </div>

           <div class="galerie-footer col-md-4 footer-column">
                <a class="text-footer" href="{{ path('app_galerie') }}">Galerie</a>
            </div>

           <div class="contact-footer col-md-4 footer-column">
                <a class="text-footer" href="{{ path('app_contact') }}">Contact</a>
                <p><a href="tel:0638050384" class="contact-number"><i class="bi bi-telephone"></i>06 38 05 03 84</a> <br>
                    <a href="tel:0631517309" class="contact-number"><i class="bi bi-telephone"></i>06 31 51 73 09</a></p>
                 <p><i class="bi bi-geo-alt"></i> 315 Rue des mouettes,<br> 01500 AMBERIEU EN BUGEY</p>
            </div>
        </div>
        <div class="social-icons-footer">
            <a href="https://snapchat.com/add/m.auto01500"
               data-mobile-url="snapchat://add/m.auto01500"
               data-desktop-url="https://snapchat.com/add/m.auto01500"
               class="social-link"
               onclick="handleSocialClick(event)"
               title="Snapchat" target="_blank" data-tooltip="m.auto01500" >
                <i class="bi bi-snapchat"></i>
            </a>
            <a href="https://www.instagram.com/2m_auto01/"
               data-mobile-url="instagram://user?username=2m_auto01"
               data-desktop-url="https://www.instagram.com/2m_auto01/"
               class="social-link"
               onclick="handleSocialClick(event)"
               title="Instagram" target="_blank" data-tooltip="2m_auto01" >
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://facebook.com" target="_blank" class="social-link" data-tooltip="Facebook">
                <i class="bi bi-facebook"></i>
            </a>
        </div>

        
        <div class="footer-bottom">
            <a href="{{ path('app_mentions_legales') }}">Mentions Légales</a>
            <p>© 2024, All rights reserved.</p>

        </div>
    </div>
</footer>
