<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <!-- Colonne 1 : Services -->
            <div class="services-footer col-md-4 footer-column">
                <a class="text-footer" href="#">Services</a>

            </div>

            <!-- Colonne 2 : Galerie -->
            <div class="galerie-footer col-md-4 footer-column">
                <a class="text-footer" href="#">Galerie</a>
            </div>

            <!-- Colonne 3 : Contact -->
            <div class="contact-footer col-md-4 footer-column">
                <a class="text-footer" href="">Contact</a>
                <p><i class="bi bi-telephone"></i> 06 38 05 03 84</p>
                <p><i class="bi bi-geo-alt"></i> 315 Rue des mouettes,<br> 01500 AMBERIEU EN BUGEY</p>

            </div>
        </div>
        <div class="social-icons-footer">
            <a href="#"><img src="{{ asset('img/insta-v2 (1).png') }}" alt="Instagram" class="icon"></a>
            <a href="#"><img src="{{ asset('img/Snapv2 (1).png') }}" alt="Snapchat" class="icon"></a>
            <a href="#"><img src="{{ asset('img/facebook.png') }}" alt="Facebook" class="icon"></a>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>© 2024, All rights reserved.</p>
        </div>
    </div>
</footer>