{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}
{% block meta_description %}
    Besoin d'informations ou de prendre rendez-vous ? Contactez-nous dès maintenant pour profiter de nos services de detailing automobile à AMBERIEU EN BUGEY et ses alentours.
{% endblock %}

{% block body %}
    <section class="header-contact">
        <div class="overlay-contact">
            <!-- Texte principal et bouton -->
            <div class="header-services-content text-center">
                <h1 class="header-services-title">Contact</h1>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact-page">
        <div class="container">
            <!-- Section Informations -->
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2>Où nous trouver ?</h2>
                    <p>
                        Notre atelier de detailing est idéalement situé à Ambérieu-en-Bugey, offrant un accès facile et pratique pour nos clients de la région et des alentours.
                        Dans un cadre calme et professionnel, nous vous accueillons pour prendre soin de votre véhicule avec expertise et passion.
                    </p>
                    <h4>Adresse :</h4>
                    <p>315 Rue des mouettes, 01500 AMBERIEU EN BUGEY</p>
                    <h4>Horaires :</h4>
                    <p>Uniquement sur rendez-vous</p>
                    <h4>Numéros de contact :</h4>
                    <p>
                        <a href="tel:0638050384" class="contact-number">06 38 05 03 84</a> <br>
                        <a href="tel:0631517309" class="contact-number">06 31 51 73 09</a>
                    </p>
                    <h4>Suivez-nous sur :</h4>
                    <div class="social-links">
                        <a href="https://snapchat.com/add/m.auto01500"
                           data-mobile-url="snapchat://add/m.auto01500"
                           data-desktop-url="https://snapchat.com/add/m.auto01500"
                           class="snap social-link"
                           onclick="handleSocialClick(event)"
                           title="Snapchat" target="_blank" data-tooltip="m.auto01500">
                            <i class="bi bi-snapchat"></i>
                        </a>
                        <a href="https://www.instagram.com/2m_auto01/"
                           data-mobile-url="instagram://user?username=2m_auto01"
                           data-desktop-url="https://www.instagram.com/2m_auto01/"
                           class="insta social-link"
                           onclick="handleSocialClick(event)"
                           title="Instagram" target="_blank" data-tooltip="2m_auto01">
                            <i class="bi bi-instagram"></i>
                        </a>

                    </div>
                </div>
                <div class="col-md-6">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2773.566874889168!2d5.329619276931425!3d45.959936171086454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b5225769b314f%3A0x9a7afa65117002c9!2s315%20Rue%20des%20Mouettes%2C%2001500%20Amb%C3%A9rieu-en-Bugey!5e0!3m2!1sfr!2sfr!4v1735945823533!5m2!1sfr!2sfr"
                            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>

            <!-- Section Formulaire -->
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>Contactez-nous</h2>

                    <form method="POST" action="{{ path('app_contact') }}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nom :</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse e-mail :</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Votre adresse e-mail" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">Sujet :</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet du message">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message :</label>
                            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Votre message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
