{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}
{% block meta %}
    <meta name="description" content="Mentions légales de 2M Auto Services, professionnels en detailing automobile basé à Ambérieu-en-Bugey.">
    <meta name="robots" content="index, follow">
{% endblock %}

{% block body %}

    <section class="header-ml">
        <div class="overlay-ml">
            <div class="header-ml-content text-center">
                <h1 class="header-accueil-title">Mentions légales</h1>
            </div>
        </div>
    </section>
<div class="container ml-content">

    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique (LCEN), nous portons à la connaissance des utilisateurs et visiteurs du site <strong>2mauto-services.fr</strong> les informations suivantes :</p>

    <hr>

    <h2>1. Informations générales</h2>
    <p>
        <strong>Nom de l'entreprise :</strong> 2M Auto Services<br>
        <strong>Forme juridique :</strong> Auto-entrepreneur<br>
        <strong>SIRET :</strong> 953 026 861 00013<br>
        <strong>Adresse :</strong> 315 Rue des mouettes, 01500 Ambérieu-en-Bugey<br>
        <strong>Téléphone :</strong> 06 38 05 03 84 / 06 31 51 73 09<br>
        <strong>Email :</strong> 2mauto@gmail.com<br>
        <strong>Site web :</strong> <a href="https://www.2mauto-services.fr">www.2mauto-services.fr</a>
    </p>
    <hr>

    <h2>2. Hébergement</h2>
    <p>
        <strong>Hébergeur :</strong> HOSTINGER operations, UAB<br>
        <strong>Adresse :</strong> Švitrigailos str. 34, Vilnius 03230 Lithuania<br>
        <strong>Téléphone :</strong> +37064503378<br>
        <strong>Site web :</strong> <a href="https://www.hostinger.fr">www.hostinger.fr</a>
    </p>
    <hr>
    <h2>3. Responsabilité</h2>
    <p>
        Le propriétaire du site s’efforce de fournir sur le site <strong>2mauto-services.fr</strong> des informations aussi précises que possible. Toutefois, il ne saurait être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
    </p>
    <p>
        Toutes les informations proposées sur le site sont données à titre indicatif, sont non exhaustives et susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.
    </p>
    <hr>

    <h2>4. Propriété intellectuelle</h2>
    <p>
        Tout le contenu du site <strong>2mauto-services.fr</strong> (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) est la propriété exclusive de la société <strong>2M Auto Services</strong>, à l’exception des éléments appartenant à d’autres entreprises ou auteurs mentionnés explicitement.
    </p>
    <p>
        Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord écrit de <strong>2M Auto Detailing</strong>. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
    </p>
    <hr>

    <h2>5. Données personnelles</h2>
    <p>
        L'utilisateur est informé des réglementations concernant la communication marketing, la loi du 21 juin 2014 pour la confiance dans l'économie numérique, la loi Informatique et Liberté du 06 août 2004 ainsi que le Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
    </p>
    <p>
        Pour toute collecte de données personnelles via le formulaire de contact ou autre, consultez notre <a href="/politique-confidentialite">Politique de Confidentialité</a>.
    </p>
    <hr>

    <h2>6. Liens hypertextes</h2>
    <p>
        Le site <strong>2mauto-services.fr</strong> peut contenir des liens hypertextes vers d'autres sites web. Toutefois, 2M Auto Services n'a pas la possibilité de vérifier le contenu des sites ainsi visités et n’assumera en conséquence aucune responsabilité de ce fait.
    </p>
    <hr>

    <h2>7. Droit applicable</h2>
    <p>
        Tout litige en relation avec l'utilisation du site <strong>2mauto-services.fr</strong> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Bourg-en-Bresse.
    </p>

</div>

    {% endblock %}
